<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuzhaoLiu.project.mybatis.mapper.topic.category.categorysMapper"><!-- 这里namespace必须是UserMapper接口的路径” -->

    <resultMap id="categoryBean" type="yuzhaoLiu.project.mybatis.entity.topic.category.Categorys" >
        <id column="categoryId" property="categoryId"></id>
        <result column="namee" property="namee"/>
        <result column="count_topics" property="countTopics"/>
        <result column="count_comments" property="countComments"/>
    </resultMap>

    <select id="readCategorys" resultMap="categoryBean">
        SELECT * FROM t_category
    </select>
    <select id="getCategoryById" parameterType="int" resultMap="categoryBean">
        SELECT * FROM t_category a WHERE a.categoryId = #{id}
    </select>

    <update id="updateTopicCount" parameterType="Categorys">
        UPDATE t_category a SET a.count_topics = #{countTopics} WHERE a.categoryId = #{categoryId}
    </update>
    <update id="updateCommentCount" parameterType="Categorys">
        UPDATE t_category a SET a.count_comments = #{countComments} WHERE a.categoryId = #{categoryId}
    </update>

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
</mapper>