<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuzhaoLiu.project.mybatis.mapper.topic.category.typesMapper"><!-- 这里namespace必须是UserMapper接口的路径” -->

    <resultMap id="typeBean" type="yuzhaoLiu.project.mybatis.entity.topic.category.Types">
        <id column="idd" property="idd"></id>
        <result column="name" property="name" />
        <result column="count_topics" property="countTopics" />
        <result column="count_comments" property="countComments" />
        <association property="typesCategory" javaType="yuzhaoLiu.project.mybatis.entity.topic.category.Categorys">
            <id column="categoryId" property="categoryId" />
            <result column="namee" property="namee" />
            <result column="count_topics" property="countTopics" />
            <result column="count_comments" property="countComments" />
        </association>
    </resultMap>

    <select id="readTypes" resultType="Types">
        SELECT * FROM t_type
    </select>
    <select id="getTypeById" resultMap="typeBean">
        SELECT a.* , b.* FROM t_type a , t_category b WHERE a.idd = #{id}
    </select>
    <select id="getAllTypesByCategoryId" parameterType="int" resultMap="typeBean">
        SELECT a.* , b.* FROM t_type a , t_category b WHERE a.types_category_id = #{id} AND a.types_category_id = b.categoryId
    </select>

    <update id="updateTopicsCount" parameterType="Types" >
        UPDATE t_type a SET a.count_topics = #{countTopics} WHERE a.idd = #{idd}
    </update>
    <update id="updateCommentsCount" parameterType="Types" >
        UPDATE t_type a SET a.name = #{name} WHERE a.idd = #{idd}
    </update>
    <update id="updateTypeName" parameterType="Types" >
        UPDATE t_type a SET a.name = #{name} WHERE a.idd = #{idd}
    </update>

    <insert id="addType" parameterType="Types" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_type (name , count_topics , count_comments , types_category_id) VALUE (#{name} , #{countTopics} , #{countComments} ,#{typesCategory.id})
    </insert>

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
</mapper>