<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuzhaoLiu.project.mybatis.mapper.UserMapper"><!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,age) values(#{name},#{age})<!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM USER WHERE name = #{name}
    </delete>
    <delete id="truncate">
        DELETE FROM USER
    </delete>
    <delete id="drop">
        DROP TABLE USER
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE USER SET name = #{name} WHERE id=#{id}
    </update>

    <select id="getUser" resultType="User" parameterType="java.lang.String"><!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
        select * from user where name=#{name}
    </select>
    <select id="readUser" resultType="User">
        SELECT * FROM USER
    </select>

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
</mapper>