<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yuzhaoLiu.project.mybatis.mapper.people.usersMapper"><!-- 这里namespace必须是UserMapper接口的路径” -->

    <resultMap id="userBean" type="yuzhaoLiu.project.mybatis.entity.people.Users">
        <id column="userId" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="picture" property="picture" />
        <result column="email" property="email" />
        <result column="grade_integral" property="gradeIntegral" />
        <result column="integral" property="integral" />
        <result column="clock" property="clock" />
        <result column="role_id" property="roleId" />
        <result column="comment_count" property="comCount" />
        <result column="topic_count" property="topCount" />
        <result column="register_time" property="registerTime" />
        <result column="come_from" property="comefrom" />
        <result column="introduction" property="introduction" />
        <result column="profession" property="profession" />
        <result column="status" property="status" />
        <result column="sex" property="sex" />
        <association property="usersGrade" javaType="yuzhaoLiu.project.mybatis.entity.people.Grades" >
            <id column="gradeId" property="gradeId" />
            <result column="honor" property="honor" />
        </association>
    </resultMap>

    <select id="readUsers" resultMap="userBean">
        SELECT a.* , b.* FROM t_user a , t_grade b WHERE a.users_grade_id = b.gradeId
    </select>
    <select id="userLogin" resultMap="userBean" parameterType="String">
        SELECT * FROM t_user a , t_grade b WHERE a.username = #{username} AND a.users_grade_id = b.gradeId
    </select>

    <update id="updateIntegralAndComment" parameterType="Users">
        UPDATE t_user a SET a.integral = #{integral} , a.comment_count = #{comCount} WHERE a.userId = #{userId}
    </update>
    <update id="updateTopicsCount" parameterType="Users">
        UPDATE t_user a SET a.topic_count = #{topCount} , a.integral = #{integral} WHERE a.userId = #{userId}
    </update>
    <update id="updateUserPic" parameterType="Users">
        UPDATE t_user a SET a.picture = #{picture} WHERE a.userId = #{userId}
    </update>
    <update id="updateUserInfo" parameterType="Users">
        UPDATE t_user a SET a.nickname = #{nickname} , a.sex = #{sex} , a.email = #{email} , a.profession = #{profession} , a.come_from = #{comefrom} , a.introduction = #{introduction} WHERE a.userId = #{userId}
    </update>
    <update id="updateUserPass" parameterType="Users">
        UPDATE t_user a SET a.password = #{password} WHERE a.userId = #{userId}
    </update>
    <update id="updateClock" parameterType="Users">
        UPDATE t_user a SET a.clock = #{clock} WHERE a.userId = #{userId}
    </update>

    <insert id="registeruser" parameterType="Users" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO t_user (username , password , sex , picture , email , grade_integal , integral , role_id , nickname , clock , topic_count , comment_count , register_time , status , users_grade_id ) VALUES ( #{username} , #{password} , #{sex} , #{picture} , #{email} , #{gradeIntegral} , #{integral} , #{roleId} , #{nickname} , #{clock} , #{topCount} ,#{comCount} , #{registerTime} , #{status} , #{usersGrade.gradeId}  )
    </insert>

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
</mapper>